.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  border-radius: 10px;
  padding: 24px 12px;
  width: 280px;
  height: 816px;

  background: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 24px;
    width: 704px;
    height: 696px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 592px;
    height: 712px;
  }
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 52px;

  height: 32px;
}

@media screen and (min-width: 768px) {
  .headerDiv {
    gap: 452px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .headerDiv {
    gap: 340px;
    height: 32px;
  }
}

.header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: #2f2f2f;
}

.closeButton {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  fill: #407bff;
  stroke: #407bff;
  height: 24px;
  width: 24px;
}

.contentDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  height: 652px;
}

@media screen and (min-width: 768px) {
  .contentDiv {
    height: 564px;
  }
}

@media screen and (min-width: 1440px) {
  .contentDiv {
    height: 524px;
  }
}

.infoDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;

  height: 176px;
}

@media screen and (min-width: 768px) {
  .infoDiv {
    height: 88px;
  }
}

@media screen and (min-width: 1440px) {
  .infoDiv {
    height: 104px;
  }
}

.formuls {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  height: 64px;
}

@media screen and (min-width: 768px) {
  .formuls {
    flex-direction: row;
    gap: 24px;
    height: 24px;
  }
}

.formula {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;

  width: 226px;
  height: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.spanFormula {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #407bff;
}

.formula2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;

  width: 236px;
  height: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

.infoParagraph {
  border: 1px solid #d7e3ff;
  border-radius: 10px;
  padding: 10px;
  height: 100px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8f8f8f;
}

.infoParagraphSpan {
  color: #407bff;
}

@media screen and (min-width: 768px) {
  .infoParagraph {
    height: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .infoParagraph {
    height: 68px;
  }
}

.calculateDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  height: 328px;
}

@media screen and (min-width: 768px) {
  .calculateDiv {
    height: 292px;
  }
}

@media screen and (min-width: 1440px) {
  .calculateDiv {
    height: 292px;
  }
}

.calculateHeader {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;
}

.calculateForm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  height: 292px;
}

@media screen and (min-width: 768px) {
  .calculateForm {
    height: 256px;
  }
}

@media screen and (min-width: 1440px) {
  .calculateForm {
    height: 256px;
  }
}

.checkBoxDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  width: 206px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .checkBoxDiv {
    width: 206px;
    height: 20px;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio {
  display: flex;
  margin-top: 2px;
  cursor: pointer;
}

.radio1 {
  gap: 8px;

  width: 102px;
  height: 20px;
}

.radio2 {
  gap: 6px;

  width: 80px;
  height: 20px;
}

.weightField {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  height: 72px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .weightField {
    height: 72px;
  }
}

.Input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  height: 44px;
  width: 256px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;

  outline: none;
}

.Input:focus {
  border-color: #60a5fa;
  box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}

.Input.filled {
  color: #2563eb;
  font-weight: 500;
}

input[type='number'] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .Input {
    height: 44px;
    width: 656px;
  }
}

@media screen and (min-width: 1440px) {
  .Input {
    width: 544px;
  }
}

.timeField {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  height: 112px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .timeField {
    height: 92px;
  }
}

.answer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;

  height: 40px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
  width: 190px;
}

@media screen and (min-width: 768px) {
  .answer {
    height: 24px;
  }

  .text {
    width: 328px;
  }
}

.answerSpan {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  color: #407bff;
}

.waterField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  height: 100px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;
}

@media screen and (min-width: 768px) {
  .waterField {
    height: 80px;
  }
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 10px;
  padding: 10px 30px;
  width: 256px;
  height: 36px;

  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .submitBtn {
    width: 160px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33333;
  }
}

.submitBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
  background: #407bff;
}
