.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  border-radius: 10px;
  padding: 24px 12px;
  width: 280px;
  height: 540px;

  background: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px 24px;
    width: 704px;
    height: 504px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    align-items: flex-end;
    justify-content: flex-start;
    width: 592px;
    height: 504px;
  }
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 104px;

  width: 256px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .headerDiv {
    gap: 452px;
    width: 656px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .headerDiv {
    gap: 340px;
    width: 544px;
    height: 32px;
  }
}

.header {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: #2f2f2f;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header {
    width: 180px;
  }
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.iconCloseButton {
  fill: #407bff;
  stroke: #407bff;
  height: 24px;
  width: 24px;
}

.contentDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;

  width: 256px;
  height: 392px;
}

@media screen and (min-width: 768px) {
  .contentDiv {
    width: 656px;
    height: 372px;
  }
}

@media screen and (min-width: 1440px) {
  .contentDiv {
    width: 544px;
    height: 316px;
  }
}

.formHeader {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;

  margin: 0;
}

.amountWater {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;

  width: 194px;
}

@media screen and (min-width: 768px) {
  .amountWater {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .amountWater {
    gap: 16px;
  }
}

.waterText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
  margin: 0;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;

  width: 194px;
  height: 44px;
}

.amountBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border: 1px solid #9ebbff;
  border-radius: 30px;
  padding: 10px;
  width: 44px;
  height: 44px;

  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.2);
  background: #fff;

  cursor: pointer;
}

.answerText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  border-radius: 40px;
  padding: 6px 10px;
  width: 92px;
  height: 36px;

  background: #d7e3ff;

  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #407bff;
}

.amountBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.icon {
  fill: #407bff;
  stroke: #407bff;
  height: 22.4px;
}

.label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;

  width: 182px;
  height: 76px;
}

@media screen and (min-width: 768px) {
  .label {
    width: 656px;
    height: 76px;
  }
}

@media screen and (min-width: 1440px) {
  .label {
    width: 544px;
    height: 76px;
  }
}

.firstText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2f2f2f;
  margin: 0;
}

.Input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 120px;
  height: 44px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;

  outline: none;
}

.Input:focus {
  border-color: #60a5fa;
  box-shadow: 0 0 5px rgba(96, 165, 250, 0.5);
}

.Input.filled {
  color: #2563eb;
  font-weight: 500;
}

input[type='number'] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .Input {
    width: 656px;
    height: 44px;
  }
}

@media screen and (min-width: 1440px) {
  .Input {
    width: 544px;
    height: 44px;
  }
}

.label2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  width: 240px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .label2 {
    width: 656px;
    height: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .label2 {
    width: 544px;
    height: 80px;
  }
}

.secondText {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: #2f2f2f;
  margin: 0;
}

.submitDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  width: 256px;
  height: 76px;
}

@media screen and (min-width: 768px) {
  .submitDiv {
    flex-direction: row;
    gap: 24px;
    width: 256px;
    height: 44px;
  }
}

.answer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #407bff;

  width: 72px;
  margin: 0;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 10px;
  padding: 8px 30px;
  width: 256px;
  height: 36px;

  cursor: pointer;

  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .submitBtn {
    padding: 10px 30px;
    width: 160px;
    height: 44px;
  }
}

.submitBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
  background: #407bff;
}
